.red {
  background-color: red;
}
.grid-color {

    display: grid;
    grid-template-columns: 3fr 1fr;
  .green {
    background-color: green;
  }
  .blue {
    background-color: blue;
  }
}
.yellow {
  background-color: yellow;
}
